### generated stuff ###
dist
lib
es
coverage
.rpt2_cache
test.db

### node ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.npm

### vs code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### templates ###
tmp
old

### Arch linux error ###
~
.vscode/
